.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #eb64aa;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-top: -13%;
  width: 100%;
}