.HourlyWeather {
    display: flex;
    background-color: #381677;
    margin: 20px -10px;
    border: 2px solid green;
}

.HWList {
    display: flex;
    border: 2px solid pink;
    width: 100%;
    padding: 20px;
}

.HWList ul {
    display: flex;
    /* flex-direction: column; */
    padding-inline-start: 0px;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    width: 100%;
}

.HWList li {
    list-style: none;
    text-align: center;
    border: 2px solid red;
}